@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;
  background-color: #000C18;
  color: #E7E7E7;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

.header {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.header .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.header img {
  width: 50%;
  object-fit: cover;
}

.a1header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.a1header img {
  width: 50%;
  object-fit: cover;
}

.schematic {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.assignment a {
  color: #E7E7E7;
  text-decoration: none;
}

.assignment a:hover {
  color: #519ABA;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
}

.assignment p {
  margin-top: 0.5em;
}

.animation a {
  color: #E7E7E7;
}

.animation a:hover {
  color: #519ABA;
}

.images {
  display: flex;
  gap: 1em;
  flex-direction: row;
}

.images img {
  width: 48%;
  object-fit: cover;
}

.questions img {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
}
